# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/

# Build outputs
build/
dist/
web-build/

# Expo
.expo/
expo-env.d.ts
*.hprof

# Native / React Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore
ios/Pods/
android/.gradle/
android/app/build/
/ios
/android

# Metro
.metro-health-check*

# Environment
.env
.env.local
.env*.local

# Debug / Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
*.pem

# TypeScript
*.tsbuildinfo

# Misc
app-example

# APK builds
builds/
